In [1]:
# Import packages
from dash import Dash, html, dash_table, dcc, callback, Output, Input, State
import pandas as pd
import plotly.express as px
import copy
import numpy as np
from mlflow.sklearn import load_model

In [2]:
# On load les données
data = pd.read_csv("concatenate_files.csv")

In [3]:
data["ANNEES_AGE"] = (abs(data.DAYS_BIRTH) / 365.25)
data["ANNEES_LAST_PHONE_CHANGE"] = round((abs(data.DAYS_LAST_PHONE_CHANGE) / 365.25), 2)

# On élimine les anciennes variables
data.drop(["DAYS_BIRTH", "DAYS_LAST_PHONE_CHANGE"], axis = 1, inplace = True)

In [4]:
infinity_indices = np.where(np.isinf(data))
for row_ind, col_ind in zip(*infinity_indices):
    data.iloc[row_ind, col_ind] = data.iloc[:,col_ind].median()

In [5]:
# On load le modèle 
model = load_model("banking_model_20230901135647")

In [6]:
data_dashboard = model[0].transform(data)

In [7]:
data_dashboard

,SK_ID_CURR,AMT_INCOME_TOTAL,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_REGISTRATION,FLAG_MOBIL,CNT_FAM_MEMBERS,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,...,APPROVED_RATE_DOWN_PAYMENT_MEAN,APPROVED_DAYS_DECISION_MAX,POS_MONTHS_BALANCE_MAX,POS_MONTHS_BALANCE_MEAN,POS_NAME_CONTRACT_STATUS_XNA_MEAN,INSTAL_PAYMENT_DIFF_MAX,INSTAL_DAYS_ENTRY_PAYMENT_MAX,INSTAL_DAYS_ENTRY_PAYMENT_MEAN,INSTAL_COUNT,ANNEES_AGE
0,100002,202500.0,24700.5,351000.0,0.018801,-3648.0,1,1.0,0,0,...,0.000000,-606.0,-1.0,-10.000000,0.0,0.000,-49.0,-315.421053,19.0,25.902806
1,100003,270000.0,35698.5,1129500.0,0.003541,-1186.0,1,2.0,0,0,...,0.050030,-746.0,-18.0,-43.785714,0.0,0.000,-544.0,-1385.320000,25.0,45.900068
2,100004,67500.0,6750.0,135000.0,0.010032,-4260.0,1,1.0,0,0,...,0.212008,-815.0,-24.0,-25.500000,0.0,0.000,-727.0,-761.666667,3.0,52.145106
3,100006,135000.0,29686.5,297000.0,0.008019,-9833.0,1,2.0,0,0,...,0.163412,-181.0,-1.0,-9.619048,0.0,0.000,-12.0,-271.625000,16.0,52.032854
4,100007,121500.0,21865.5,513000.0,0.028663,-4311.0,1,1.0,0,0,...,0.159516,-374.0,-1.0,-33.636364,0.0,22655.655,-14.0,-1032.242424,66.0,54.570842
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307502,456251,157500.0,27558.0,225000.0,0.032561,-8456.0,1,1.0,0,0,...,0.000000,-273.0,-1.0,-5.000000,0.0,0.000,-38.0,-156.285714,7.0,25.535934
307503,456252,72000.0,12001.5,225000.0,0.025164,-4388.0,1,1.0,0,0,...,0.062443,-2497.0,-76.0,-79.000000,0.0,0.000,-2327.0,-2393.833333,6.0,56.878850
307504,456253,153000.0,29979.0,585000.0,0.005002,-6737.0,1,1.0,0,0,...,0.214316,-1909.0,-57.0,-79.235294,0.0,3945.825,-1738.0,-2387.428571,14.0,40.974675
307505,456254,171000.0,20205.0,319500.0,0.005313,-2562.0,1,2.0,0,1,...,0.000000,-277.0,-1.0,-5.550000,0.0,0.000,-18.0,-161.263158,19.0,32.747433
307506,456255,157500.0,49117.5,675000.0,0.046220,-5128.0,1,2.0,0,0,...,0.064780,-456.0,-2.0,-16.408451,0.0,28641.150,-76.0,-472.013514,74.0,46.149213

In [8]:
data_dashboard.shape

(307507, 100)

In [9]:
(model.predict_proba(data_dashboard)[:, 1] >= (0.42)).astype(int)

array([1, 0, 0, ..., 0, 1, 1])

In [10]:
data["prediction"] = (model.predict_proba(data)[:, 1] >= (0.42)).astype(int)
data["prediction_pret"] = data["prediction"].apply(lambda x: "Pret" if x == 0 else "Non pret")
data["proba_pred_pret"] = model.predict_proba(data)[:, 0]
data["proba_pred_non_pret"] = model.predict_proba(data)[:, 1]

In [30]:
cols = [1] + list(range(-4, 0))

In [31]:
df.iloc[:, cols]

,AMT_INCOME_TOTAL,prediction,prediction_pret,proba_pred_pret,proba_pred_non_pret
0,202500.0,1,Non pret,0.28,0.72
1,270000.0,0,Pret,0.93,0.07
2,67500.0,0,Pret,0.71,0.29
3,135000.0,0,Pret,0.73,0.27
4,121500.0,0,Pret,0.63,0.37
...,...,...,...,...,...
95,76500.0,1,Non pret,0.45,0.55
96,135000.0,1,Non pret,0.17,0.83
97,90000.0,1,Non pret,0.49,0.51
98,243000.0,1,Non pret,0.47,0.53
99,90000.0,0,Pret,0.85,0.15

In [14]:
df = data_dashboard[:100]

In [125]:
selected = 1

if type(selected) != list:
    selected = [selected]
selected

<class 'int'>

[1]

In [108]:
df[df['SK_ID_CURR'].isin([100002, 100003])]

Empty DataFrame
Columns: [SK_ID_CURR, AMT_INCOME_TOTAL, AMT_ANNUITY, AMT_GOODS_PRICE, REGION_POPULATION_RELATIVE, DAYS_REGISTRATION, FLAG_MOBIL, CNT_FAM_MEMBERS, LIVE_REGION_NOT_WORK_REGION, REG_CITY_NOT_LIVE_CITY, REG_CITY_NOT_WORK_CITY, LIVE_CITY_NOT_WORK_CITY, EXT_SOURCE_2, OBS_30_CNT_SOCIAL_CIRCLE, OBS_60_CNT_SOCIAL_CIRCLE, FLAG_DOCUMENT_2, AMT_REQ_CREDIT_BUREAU_YEAR, NAME_CONTRACT_TYPE_Cash loans, NAME_INCOME_TYPE_Maternity leave, NAME_INCOME_TYPE_Unemployed, NAME_EDUCATION_TYPE_Academic degree, NAME_EDUCATION_TYPE_Lower secondary, NAME_HOUSING_TYPE_Rented apartment, OCCUPATION_TYPE_Core staff, OCCUPATION_TYPE_IT staff, OCCUPATION_TYPE_Laborers, ORGANIZATION_TYPE_University, FONDKAPREMONT_MODE_reg oper spec account, WALLSMATERIAL_MODE_Others, WALLSMATERIAL_MODE_Wooden, EMERGENCYSTATE_MODE_Yes, PAYMENT_RATE, BURO_DAYS_CREDIT_MIN, BURO_DAYS_CREDIT_MAX, BURO_DAYS_CREDIT_MEAN, BURO_DAYS_CREDIT_ENDDATE_MAX, BURO_DAYS_CREDIT_ENDDATE_MEAN, BURO_MONTHS_BALANCE_SIZE_SUM, BURO_CREDIT_ACTIVE_Bad debt_MEAN, BURO_CREDIT_TYPE_Consumer credit_MEAN, BURO_CREDIT_TYPE_Loan for working capital replenishment_MEAN, BURO_CREDIT_TYPE_Unknown type of loan_MEAN, ACTIVE_DAYS_CREDIT_MIN, ACTIVE_DAYS_CREDIT_MAX, ACTIVE_MONTHS_BALANCE_SIZE_SUM, CLOSED_DAYS_CREDIT_MAX, CLOSED_DAYS_CREDIT_ENDDATE_MEAN, CLOSED_MONTHS_BALANCE_SIZE_SUM, PREV_AMT_ANNUITY_MAX, PREV_APP_CREDIT_PERC_MAX, PREV_AMT_GOODS_PRICE_MEAN, PREV_HOUR_APPR_PROCESS_START_MIN, PREV_HOUR_APPR_PROCESS_START_MAX, PREV_RATE_DOWN_PAYMENT_MIN, PREV_RATE_DOWN_PAYMENT_MAX, PREV_RATE_DOWN_PAYMENT_MEAN, PREV_DAYS_DECISION_MAX, PREV_NAME_CONTRACT_TYPE_Cash loans_MEAN, PREV_NAME_CONTRACT_TYPE_Consumer loans_MEAN, PREV_NAME_CASH_LOAN_PURPOSE_XNA_MEAN, PREV_NAME_CONTRACT_STATUS_Canceled_MEAN, PREV_NAME_CONTRACT_STATUS_Unused offer_MEAN, PREV_NAME_PAYMENT_TYPE_Non-cash from your account_MEAN, PREV_CODE_REJECT_REASON_CLIENT_MEAN, PREV_CODE_REJECT_REASON_HC_MEAN, PREV_CODE_REJECT_REASON_SCO_MEAN, PREV_CODE_REJECT_REASON_VERIF_MEAN, PREV_NAME_TYPE_SUITE_Unaccompanied_MEAN, PREV_NAME_GOODS_CATEGORY_Weapon_MEAN, PREV_NAME_GOODS_CATEGORY_XNA_MEAN, PREV_NAME_PORTFOLIO_Cash_MEAN, PREV_NAME_PORTFOLIO_POS_MEAN, PREV_NAME_PRODUCT_TYPE_XNA_MEAN, PREV_NAME_PRODUCT_TYPE_x-sell_MEAN, PREV_NAME_SELLER_INDUSTRY_Clothing_MEAN, PREV_NAME_SELLER_INDUSTRY_XNA_MEAN, PREV_NAME_YIELD_GROUP_XNA_MEAN, PREV_NAME_YIELD_GROUP_low_action_MEAN, PREV_NAME_YIELD_GROUP_middle_MEAN, PREV_PRODUCT_COMBINATION_Cash Street: middle_MEAN, PREV_PRODUCT_COMBINATION_Cash X-Sell: high_MEAN, PREV_PRODUCT_COMBINATION_POS household without interest_MEAN, APPROVED_AMT_ANNUITY_MIN, APPROVED_AMT_ANNUITY_MAX, APPROVED_AMT_APPLICATION_MAX, APPROVED_APP_CREDIT_PERC_MIN, APPROVED_AMT_GOODS_PRICE_MAX, APPROVED_HOUR_APPR_PROCESS_START_MIN, APPROVED_HOUR_APPR_PROCESS_START_MAX, APPROVED_RATE_DOWN_PAYMENT_MIN, APPROVED_RATE_DOWN_PAYMENT_MEAN, APPROVED_DAYS_DECISION_MAX, POS_MONTHS_BALANCE_MAX, POS_MONTHS_BALANCE_MEAN, POS_NAME_CONTRACT_STATUS_XNA_MEAN, INSTAL_PAYMENT_DIFF_MAX, INSTAL_DAYS_ENTRY_PAYMENT_MAX, INSTAL_DAYS_ENTRY_PAYMENT_MEAN, INSTAL_COUNT, ANNEES_AGE, ...]
Index: []

[0 rows x 104 columns]

In [93]:
options=[{'label': str(client), 'value': client} for client in df['SK_ID_CURR']]
options.append({'label': None, 'value': None})
options

[{'label': '100002', 'value': 100002},
 {'label': '100003', 'value': 100003},
 {'label': '100004', 'value': 100004},
 {'label': '100006', 'value': 100006},
 {'label': '100007', 'value': 100007},
 {'label': '100008', 'value': 100008},
 {'label': '100009', 'value': 100009},
 {'label': '100010', 'value': 100010},
 {'label': '100011', 'value': 100011},
 {'label': '100012', 'value': 100012},
 {'label': '100014', 'value': 100014},
 {'label': '100015', 'value': 100015},
 {'label': '100016', 'value': 100016},
 {'label': '100017', 'value': 100017},
 {'label': '100018', 'value': 100018},
 {'label': '100019', 'value': 100019},
 {'label': '100020', 'value': 100020},
 {'label': '100021', 'value': 100021},
 {'label': '100022', 'value': 100022},
 {'label': '100023', 'value': 100023},
 {'label': '100024', 'value': 100024},
 {'label': '100025', 'value': 100025},
 {'label': '100026', 'value': 100026},
 {'label': '100027', 'value': 100027},
 {'label': '100029', 'value': 100029},
 {'label': '100030', 'value': 100030},
 {'label': '100031', 'value': 100031},
 {'label': '100032', 'value': 100032},
 {'label': '100033', 'value': 100033},
 {'label': '100034', 'value': 100034},
 {'label': '100035', 'value': 100035},
 {'label': '100036', 'value': 100036},
 {'label': '100037', 'value': 100037},
 {'label': '100039', 'value': 100039},
 {'label': '100040', 'value': 100040},
 {'label': '100041', 'value': 100041},
 {'label': '100043', 'value': 100043},
 {'label': '100044', 'value': 100044},
 {'label': '100045', 'value': 100045},
 {'label': '100046', 'value': 100046},
 {'label': '100047', 'value': 100047},
 {'label': '100048', 'value': 100048},
 {'label': '100049', 'value': 100049},
 {'label': '100050', 'value': 100050},
 {'label': '100051', 'value': 100051},
 {'label': '100052', 'value': 100052},
 {'label': '100053', 'value': 100053},
 {'label': '100054', 'value': 100054},
 {'label': '100055', 'value': 100055},
 {'label': '100056', 'value': 100056},
 {'label': '100058', 'value': 100058},
 {'label': '100059', 'value': 100059},
 {'label': '100060', 'value': 100060},
 {'label': '100061', 'value': 100061},
 {'label': '100062', 'value': 100062},
 {'label': '100063', 'value': 100063},
 {'label': '100064', 'value': 100064},
 {'label': '100068', 'value': 100068},
 {'label': '100069', 'value': 100069},
 {'label': '100070', 'value': 100070},
 {'label': '100071', 'value': 100071},
 {'label': '100072', 'value': 100072},
 {'label': '100073', 'value': 100073},
 {'label': '100075', 'value': 100075},
 {'label': '100076', 'value': 100076},
 {'label': '100077', 'value': 100077},
 {'label': '100078', 'value': 100078},
 {'label': '100079', 'value': 100079},
 {'label': '100080', 'value': 100080},
 {'label': '100081', 'value': 100081},
 {'label': '100082', 'value': 100082},
 {'label': '100083', 'value': 100083},
 {'label': '100084', 'value': 100084},
 {'label': '100085', 'value': 100085},
 {'label': '100086', 'value': 100086},
 {'label': '100087', 'value': 100087},
 {'label': '100088', 'value': 100088},
 {'label': '100089', 'value': 100089},
 {'label': '100093', 'value': 100093},
 {'label': '100094', 'value': 100094},
 {'label': '100095', 'value': 100095},
 {'label': '100096', 'value': 100096},
 {'label': '100097', 'value': 100097},
 {'label': '100098', 'value': 100098},
 {'label': '100099', 'value': 100099},
 {'label': '100100', 'value': 100100},
 {'label': '100101', 'value': 100101},
 {'label': '100102', 'value': 100102},
 {'label': '100103', 'value': 100103},
 {'label': '100104', 'value': 100104},
 {'label': '100105', 'value': 100105},
 {'label': '100108', 'value': 100108},
 {'label': '100110', 'value': 100110},
 {'label': '100111', 'value': 100111},
 {'label': '100112', 'value': 100112},
 {'label': '100113', 'value': 100113},
 {'label': '100114', 'value': 100114},
 {'label': '100115', 'value': 100115},
 {'label': '100116', 'value': 100116},
 {'label': '100118', 'value': 100118},
 {'label': None, 'value': None}]

In [130]:
# Initialize the app - incorporate css
external_stylesheets = ['https://codepen.io/chriddyp/pen/bWLwgP.css']
app = Dash(__name__, external_stylesheets=external_stylesheets)


# App layout
app.layout = html.Div([
    
    # Titre dashboard
    html.Div(className='row', children="Utilisation du modèle pour prédire l'obtention d'un prêt",
             style={'textAlign': 'center', 'color': 'black', 'fontSize': 30}),
    
    html.Div(className='row', children=[
        html.Div(
            className='client-selection',  # Add a class for styling
            children=[
                html.Div("Choix d'un client :",
                         style={'textAlign': 'left', 'color': 'black', 'fontSize': 18}),
                dcc.Dropdown(
                    options=[{'label': str(client), 'value': client} for client in df['SK_ID_CURR']],
                    value=None,
                    style={'textAlign': 'left', 'color': 'black', 'fontSize': 15},
                    placeholder="Sélectionne un client",
                    multi=True,
                    id='dropdown'
                ),
            ],
        ),
        html.Div(id="table_client")
    ]),

    
    # Boutton pour la prédiction
    html.Div(style={'display': 'flex', 'justifyContent': 'center', 'alignItems': 'center', 'height': '20vh'},
        children=[html.Div(style={'textAlign': 'center', 'color': 'black', 'fontSize': 18},
                children=[html.Button("Prédiction", id="prediction_button", n_clicks=0)],
                )]
            ),
    
    # Tableau à afficher
    html.Div(id="table_div"),    

])

# On crée une fonction callback afin de mettre à jour le boutton 
@app.callback(
    Output("table_client", "children"),
    Output("prediction_button", "children"),
    Output("prediction_button", "disabled"),
    Output("table_div", "children"),
    Input("dropdown", "value"),
    Input("prediction_button", "n_clicks"),
    State("prediction_button", "children")
)

def update_table_and_button(selected_client, n_clicks, button_label):
    # Remise à 0
    if selected_client == []:
        selected_client = None
    
    if (type(selected_client) != list) & (selected_client is not None) :
        selected_client = [selected_client]
        
    if selected_client is None :
        table1 = dash_table.DataTable(
            data=df.to_dict('records'),
            page_size=10,
            style_table={'overflowX': 'auto'}
        )
    else :
        filtered_df = df[df['SK_ID_CURR'].isin(selected_client)]
        table1 = dash_table.DataTable(
            data=filtered_df.to_dict('records'),
            page_size=10,
            style_table={'overflowX': 'auto'}
        )
    
    # Par défaut
    if n_clicks is None :
        n_clicks = 0
    if n_clicks == 0 :
        button_label = "Faire la prédiction"
        button_disabled = False
        table2 = None
    else:
        button_label = "Prédiction réalisée"
        button_disabled = True
        # Your code to update the table here (replace with your actual code)
        # ...
        cols = [0] + list(range(-4, 0))
        
        if selected_client is None :
            table2 = dash_table.DataTable(
                data=df.iloc[:, cols].to_dict('records'),
                page_size=10,
                style_table={'overflowX': 'auto'}
            )
        else :
            filtered_df = df[df['SK_ID_CURR'].isin(selected_client)]
            table2 = dash_table.DataTable(
                data=filtered_df.iloc[:, cols].to_dict('records'),
                page_size=10,
                style_table={'overflowX': 'auto'}
            )
        
    return table1, button_label, button_disabled, table2

# Run the app
if __name__ == '__main__':
    app.run(debug=True)

In [ ]:
# Incorporate data
df = copy.deepcopy(data_dashboard[:100])

# Initialize the app - incorporate css
external_stylesheets = ['https://codepen.io/chriddyp/pen/bWLwgP.css']
app = Dash(__name__, external_stylesheets=external_stylesheets)


# App layout
app.layout = html.Div([
    html.Div(className='row', children='My First App with Data, Graph, and Controls',
             style={'textAlign': 'center', 'color': 'black', 'fontSize': 30}),
    
    # Variables à afficher
    html.Div(className='row', children=[
        dcc.RadioItems(options=['DAYS_EMPLOYED_PERC', 'AMT_INCOME_TOTAL'],
                       value='AMT_INCOME_TOTAL',
                       inline=True,
                       style={'textAlign': 'left', 'color': 'black', 'fontSize': 15},
                       id='variables_affichage_buttons')
    ]),
    
    # Options d'affichage
    html.Div(className='row', children=[
        html.Label("Taille des axes et valeurs :"),
        dcc.Slider(
        id='font-size-slider',
        min=18,
        max=42,
        step=6,
        value=18,
        marks={i: str(i) for i in range(18, 43, 6)}),
        
        # Options for the color palette dropdown
        html.Label("Select Color Palette:"),
        dcc.RadioItems(
            id='color-palette-dropdown',
            options=[
                {'label': 'Default', 'value': 'plotly'},
                {'label': 'Colorblind-Friendly', 'value': 'colorblind'}
               
            ],
            value='plotly'
        ),
    ]),
    
    # Graph à afficher
    html.Div(className='row', children=[
        dcc.Graph(figure={}, id='histo-chart-final')
    ]),
    
    # Tableau à afficher
    html.Div(className='row', children=[
        dash_table.DataTable(data=df.to_dict('records'), page_size=10, style_table={'overflowX': 'auto'})
    ])
])

# Add controls to build the interaction
@callback(
    Output(component_id='histo-chart-final', component_property='figure'),
    Input(component_id='variables_affichage_buttons', component_property='value'),
    Input(component_id='font-size-slider', component_property='value'),
    Input(component_id='color-palette-dropdown', component_property='value')
)
def update_graph(col_chosen, font_size, color_palette):
    
    x_var = "CODE_GENDER"
    fig = px.histogram(df, 
                       x=x_var, 
                       y=col_chosen, 
                       histfunc='avg')
    
    if color_palette == 'colorblind':
        # On utilise une palette pour les personnes avec une déficience de couleur (source : https://www.color-hex.com/color-palette/28639)
        color_blind_hex = ['#d6f9cc', '#97989c', '#33926e', '#1c4226', '#1f3628']
        fig.update_traces(marker_color=color_blind_hex)
        
    else:
        # Use the default Plotly color palette
        fig.update_traces(marker_color=px.colors.qualitative.Plotly)
    
    fig.update_layout(
        xaxis_title=x_var,
        yaxis_title=col_chosen,
        font=dict(
            family='Arial',
            size=font_size,
            color='black'),
        
        #xaxis_title_font=dict(size=font_size, family='Arial', color='black'),
        #yaxis_title_font=dict(size=font_size, family='Arial', color='black')
    )
    
    return fig

# Run the app
if __name__ == '__main__':
    app.run(debug=True)